src/main/mule/sample-test-project.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="4db961f1-439b-4aae-a3f2-20339c4a8f42" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="sample-test-projectFlow" doc:id="d195fac3-8c88-47ea-8d6c-59695d9634eb" >
		<http:listener doc:name="Listener" doc:id="8d30144f-b5a9-464e-8016-95bb3514c81c" config-ref="HTTP_Listener_config" path="/test"/>
		<logger level="INFO" doc:name="Logger" doc:id="880ad084-2a9b-448a-b82c-c374c2f599de" message="#[payload]"/>
	</flow>
</mule>
